[Settings]
# API 配置
USEBGMAPI = True
USETMDBAPI = True
USEBANGUMIAPI = True

# 代理配置
USEPROXY = False
USESYSPROXY = False
HTTPPROXY = 
HTTPSPROXY = 
ALLPROXY = 

# 文件处理配置
USELINK = False
LINKFAILSUSEMOVEFLAGS = False
MANDATORYCOVER = True
USETITLTOEP = True
JELLYFINFORMAT = False

# 日志配置
PRINTLOGFLAG = True
RMLOGSFLAG = 7

# 其他配置
USEBOTFLAG = False
TIMELAPSE = 0
SEEPSINGLECHARACTER = False
APIREQUESTSONLYUSECH = False
USEANIMETAG = False
NETERRRECTRYTIMS = 1

# 模块配置
NOTLOADEXTLIST = 